<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="The personal blog of Hardik Ruparel where he talks about programming, technology, startups, India, and pretty much anything he finds interesting" />
	<meta name="keywords" content="programming, startups, india, entrepreneurship, javascript, node.js" />
        <meta property="og:title" content="{%if page.title %} {{page.title}} - A Day Without Chocolate {% else %}A Day Without Chocolate {% endif %}" />
        <meta property="og:type" content="Blog" />
        <meta property="og:url" content="{{site.baseurl}}{{page.url}}" />
        <meta property="og:image" content="http://commondatastorage.googleapis.com/hardik/new.ico" />
        <meta property="og:description" content="The personal blog of Hardik Ruparel where he talks about programming, technology, startups, India, and pretty much anything he finds interesting" />
        <meta property="og:site_name" content="A Day Without Chocolate" />
	<title>{%if page.title %} {{page.title}} - A Day Without Chocolate {% else %}A Day Without Chocolate {% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="ttw" content="5x576ar" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/layout.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/default.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic|Yanone+Kaffeesatz:regular,bold" />
	<link rel="icon" href="http://commondatastorage.googleapis.com/hardik/new.ico" type="image/x-icon">
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">$(document).ready(function(){$("p:has(img)").css('padding-left', '0 !important');});</script>-->
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19059213-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	<div class="wrap" id="page">
		<div class="payload">
			<div class="side">
			<a href="{{site.baseurl}}"><h2 style="padding-top:65px;color:#BEBEBE">A Day Without <span style="color:#7B3F00">[Chocolate]</span></h2></a>
				<div id="byline">
					<a href="{{site.baseurl}}/about.html"><span class="fancy">By</span> Hardik Ruparel</a>
				</div><!--/byline-->
				<div id="navigation">
					<ul>
						<li><a href="{{site.baseurl}}/essays">Essays</a></li>
						<li><a href="{{site.baseurl}}/archives.html">Archives</a></li>
						<li><a href="{{site.baseurl}}/about.html">About</a></li>
						<li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
						<li><a href="{{site.baseurl}}/feeds.html">Feeds</a></li>
					</ul>
				</div><!--/navigation-->

			    <a target="_blank" rel="twitter" href="https://twitter.com/hardikr"><img alt="Follow me on Twitter" style="border-width:0" id="cc" src="img/tw.png" /></a>
				<a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" id="cc" src="img/cc.png" /></a>
			</div><!--/side-->
			<div class="main">
				
				{{ content }}
				
				<div class="footer">
					<div class="footer-copynone">Theme borrowed from <a href="http://coffeecomrade.com/">coffeecomrade.com</a>. Powered by <a href="http://github.com/mojombo/jekyll">Jekyll</a>. Hosted on <a href="http://github.com/">Github</a></div>
					</div><!--/footer-->
			</div><!--/main-->
		</div><!--/payload-->
	</div><!--/wrap-->
</body>
</html>
